### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
file_df = purchase_data
file_df = pd.DataFrame(purchase_data)
file_df.head(15)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86

## Player Count

* Display the total number of players

In [2]:
file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
total_players = len(file_df.SN.unique())
print(f'Total # of players that have made purchases: {total_players}')

Total # of players that have made purchases: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(file_df["Item ID"].unique())
unique_items
total_purchases = file_df["Purchase ID"].count()
total_purchases
total_revenue = file_df["Price"].sum()
total_revenue
average_price1 = file_df["Price"].mean()
average_price1
average_price2 = total_revenue/total_purchases
average_price2
# Create a summary data frame to hold the results

# Optional: give the displayed data cleaner formatting

# Display the summary data frame

file_df(Summary)
file_df

NameError: name 'Summary' is not defined

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
# Percentage and Count of Male Players
avg_purchase_price = gender_grouped_file_df["Price"].mean()
avg_purchase_price.head()


# Percentage and Count of Female Players

# Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

# Create a summary data frame to hold the results

# Optional: give the displayed data cleaner formatting

# Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
# create bins for ages
# bins are 0, 9.90, 14.90, 19.90, 29.90, 39.90, 49.90, 50+
bins = [0, 9.90, 14.90, 19.90, 29.90, 39.90, 49.90, 99999]

# Categorize the existing players using the age bins. Hint: use pd.cut()
file_df["Age"] = pd.cut(file_df["Age"], bins[""])
file_df()

# Calculate the numbers and percentages by age group
group_by_age_file_df["Age Summary"] = pd.cut(group_by_age_file_df{"Age"], age_bins, labels=group
group_by_age_file_df.
# Create a summary data frame to hold the results

# Optional: round the percentage column to two decimal points

# Display Age Demographics Table

SyntaxError: invalid syntax (<ipython-input-18-af5653f8a2e0>, line 10)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Bin the purchase_data data frame by age

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

# Create a summary data frame to hold the results

# Optional: give the displayed data cleaner formatting

# Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Run basic calculations to obtain the results in the table below

# Create a summary data frame to hold the results

# Sort the total purchase value column in descending order

# Optional: give the displayed data cleaner formatting

# Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Retrieve the Item ID, Item Name, and Item Price columns

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

# Create a summary data frame to hold the results

# Sort the purchase count column in descending order

# Optional: give the displayed data cleaner formatting

# Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame